{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <p class="text-muted mb-5">A summary of your bag contents is below</p>
                    </div>
                </div>
                {% for item in bag_items %}

                {% endfor %}
                <div class="btt-button shadow-sm rounded-0 border border-black">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>

                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.price }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-3 w-25">
                            <label for="">Background</label>
                            <p class="my-0">{{ item.background }}</p>
                        </td>
                        <td class="p-3 w-25">
                            <label for="">Text Color</label>
                            <p class="my-0">{{ item.text_color }}</p>
                        </td>
                        <td class="p-3 w-25">
                            <label for="">Text Content</label>
                            <p class="my-0">{{ item.text_content }}</p>
                        </td>
                        <td class="p-3 w-25">
                            <label for="">Extra Requirements</label>
                            <p class="my-0">{{ item.extra_requirements }}</p>
                        </td>
                        <td class="p-3 w-25">
                            <a class="remove-item text-danger float-right"
                                id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <hr>
                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Discount: £{{ discount|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if grand_total < BUNDLE_DISCOUNT_THRESHOLD %}
                            <p class="mb-1 text-danger">
                                You could get 20% off by spending just <strong>£{{ BUNDLE_DISCOUNT_THRESHOLD }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="text/javascript">
    // remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}