{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

 <main role="main">
<!-- Banner -->
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome</h1>
          <p class="lead text-muted">Choose your favourite design, and we will personalise it for your need! </p>
          <p>
            <a href="#" class="btn btn-primary my-2">New here?</a>
            <a href="#" class="btn btn-secondary my-2">Browse</a>
          </p>
        </div>
      </section>

      <!-- Why choose us -->
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="media/reasonone.jpg" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">
                            <strong>Various designs for your choice</strong> 
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="media/reasontwo.jpg" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">
                            <strong>Personalisation to suit your needs</strong> 
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="media/reasonthree.jpg" alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">
                            <strong>A team of passionate designers</strong> 
                        </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
      </div>

<!-- Testmonies -->

<div class="container container-fluid">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


</div>
{% endblock %}